Language: Cpp
PointerAlignment: Left
IndentPPDirectives: AfterHash
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
IndentWidth: 2
BinPackArguments: true
BinPackParameters: true
